@using System.Security.Claims
@using web.reunion.Models
@model web.reunion.Models.AdminDashboardViewModel

@{
    ViewData["Title"] = "Painel de Administrador";

    var user = "";
    var local = "";
    var userRole = "";
    if (User.Identity!.IsAuthenticated)
    {
        user = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value;
        userRole = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
        local = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Locality)?.Value;
    }
}

<div class="container-fluid mt-4">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title text-center">Marcações</h2>
            <div class="row d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-success" id="createMarcacaoButton" data-bs-toggle="modal" data-bs-target="#createMarcacaoModal">
                        <i class="fa-regular fa-calendar-plus"></i>
                        Efetuar Marcação
                    </a>
                    <div class="d-flex">
                        <div>
                            <div class="mb-1">
                                <div class="input-group">
                                    <div class="col-md-5">
                                        <label class="input-group-text w-100" for="estadoFilter"><strong>Filtrar por Estado:</strong></label>
                                    </div>
                                    <select class="form-select" id="estadoFilter">
                                        <option value="">Todos</option>
                                        <!-- Add options for each Sala dynamically from your data -->
                                        @foreach (var estado in Enum.GetValues(typeof(Estado)).Cast<Estado>())
                                        {
                                            <option value="@estado">@estado</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div class="input-group">
                                    <div class="col-md-5">
                                        <label class="input-group-text w-100" for="localFilter"><strong>Filtrar por Local:</strong></label>
                                    </div>
                                    <select class="form-select" id="localFilter" asp-for="@local">
                                        <option value="">Todos</option>
                                        @foreach (var lc in Model.Locais)
                                        {
                                            <option value="@lc.LocalId">@lc.Descricao</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div class="input-group">
                                    <div class="col-md-5">
                                        <label class="input-group-text w-100" for="salaFilter"><strong>Filtrar por Sala:</strong></label>
                                    </div>
                                    <select class="form-select" id="salaFilter">
                                        <option value="">Todas</option>
                                        <!-- Add options for each Sala dynamically from your data -->
                                        @foreach (var sala in Model.Salas)
                                        {
                                            <option value="@sala.SalaId">@sala.Descricao + @sala.SalaId</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="calendar"></div>
        </div>
    </div>
    <div id="tooltip"></div>
</div>

<div id="loader">
    <div class="spinner-container">
        <div class="spinner">
        </div>
        <h5>Aguarde um pouco...</h5>
    </div>
</div>

<!-- Criar Marcação Modal-->
<div class="modal fade" id="createMarcacaoModal" tabindex="-1" aria-labelledby="createMarcacaoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createMarcacaoModalLabel">Marcar Sala</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Preenche o modal dinamicante com o Formulário _CreateMarcacaoForm -->
            </div>
        </div>
    </div>
</div>

<!-- Mostrar Detalhes da Marcação Modal -->
<div class="modal fade" id="detalhesMarcacaoModal" tabindex="-1" aria-labelledby="detalhesMarcacaoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalhesMarcacaoModalLabel">Detalhes da Marcação</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Preenche o modal dinamicante com o Formulário _DetailsMarcacaoForm -->
            </div>
            <div class="modal-footer">
                <a href="#" type="button" class="btn btn-danger" id="fecharMarcacao" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i>
                    Fechar
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Editar Marcação Modal -->
<div class="modal fade" id="editModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Marcação</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Preenche o modal dinamicante com o Formulário _EditMarcaçãoForm -->
                <div id="editFormContainer"></div>
            </div>
        </div>
    </div>
</div>

<!-- Motivo da Recuso Modal -->
<div class="modal fade" id="motivoModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="motivoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="motivoModalLabel">Deseja registar o motivo da Recusa?</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea id="motivoInput" rows="4" type="text" class="form-control" placeholder="Motivo"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="confirmMotivo">
                    <i class="fa-regular fa-floppy-disk"></i>
                    Confirmar
                </button>
                <button type="button" class="btn btn-danger" id="confirmNotMotivo" data-bs-dismiss="modal">
                    <i class="fa-regular fa-rectangle-xmark"></i>
                    Não
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var createMarcacaoModalEl = document.getElementById('createMarcacaoModal');
            var salaFilter = document.getElementById('salaFilter');
            var estadoFilter = document.getElementById('estadoFilter');
            var localFilter = document.getElementById('localFilter');
            var userLocal = '@local';

            // Initialize FullCalendar with the fetched events
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                slotMinTime: '07:00:00',
                slotMaxTime: '24:00:00',
                allDaySlot: false,
                nowIndicator: true,
                firstDay: 1,
                height: 'auto',
                timeZone: 'local',
                slotEventOverlap: false,
                locale: 'pt',
                navLinks: true,
                headerToolbar: {
                    start: 'timeGridDay,timeGridWeek,dayGridMonth,multiMonthSixMonth,multiMonthYear',
                    center: 'title',
                    end: 'today prev,next'
                },
                buttonText: {
                    today: 'Hoje',
                    timeGridDay: 'Diária',
                    timeGridWeek: 'Semanal',
                    dayGridMonth: 'Mensal',
                    multiMonthSixMonth: 'Semestral',
                    multiMonthYear: 'Anual'
                },
                views: {
                    multiMonthSixMonth: {
                        type: 'multiMonth',
                        duration: { months: 6 }
                    }
                },
                moreLinkText: function (num) {
                    return "+" + num + " marcações";
                },
                select: function (info) {
                    var start = info.start.toLocaleString().substring(12, 17);
                    var end = info.end.toLocaleString().substring(12, 17);
                    var day = info.start.toLocaleString().substring(0, 10);
                    var localId = localFilter.value;

                    $('#loader').show();

                    $.ajax({
                        url: '/Marcacoes/LoadCreateForm',
                        type: 'GET',
                        data: {
                            day: day,
                            start: start,
                            end: end,
                            localId: localId
                        },
                        success: function (data) {
                            $('#loader').hide();
                            $('#createMarcacaoModal .modal-body').html(data);
                            $('#createMarcacaoModal').modal('show');
                        },
                        error: function () {
                            $('#loader').hide();
                            alert('Houve um erro ao carregar os dados. Por favor tente novamente.');
                        }
                    });
                },
                selectAllow: function (selectInfo) {
                    var today = new Date();
                    return selectInfo.start >= today;
                },
                selectable: true,
                events: function (fetchInfo, successCallback, failureCallback) {
                    $.ajax({
                        url: '/Marcacoes/GetBookings',
                        type: 'GET',
                        data: {
                            salaId: salaFilter.value,
                            estado: estadoFilter.value,
                            local: localFilter.value
                        },
                        success: function (events) {
                            successCallback(events);
                        },
                        error: function () {
                            failureCallback();
                        }
                    });
                },
                eventContent: function (arg) {
                    let event = arg.event;
                    let category = event.extendedProps.categoria;
                    let sala = event.extendedProps.sala;
                    let estado = event.extendedProps.estado;
                    let color = event.extendedProps.color;
                    let local = event.extendedProps.local;
                    let duration = moment(arg.event.end).diff(moment(arg.event.start), 'minutes');

                    let eventContent = document.createElement('div');
                    eventContent.classList.add('fc-event-content');
                    eventContent.style.fontWeight = 'bold';
                    eventContent.style.marginLeft = '3px';
                    eventContent.style.maxWidth = '100%';
                    eventContent.style.maxHeight = '90%';
                    eventContent.style.display = 'flex';

                    let salaElement = document.createElement('span');
                    salaElement.classList.add('fc-event-sala');
                    salaElement.style.backgroundColor = color;
                    salaElement.style.fontWeight = 'bold';
                    salaElement.style.maxHeight = '90%';
                    salaElement.style.maxWidth = '100%';
                    salaElement.style.flex = '1';

                    if (estado == 'Pendente') {
                        salaElement.innerHTML = local;

                    } else {
                        salaElement.innerHTML = sala;
                    }

                    eventContent.appendChild(salaElement);

                    return { domNodes: [eventContent] };
                },
                eventDidMount: function (info) {
                    let estado = info.event.extendedProps.estado;
                    let backgroundColor;
                    let textColor;

                    switch (estado) {
                        case 'Aprovado':
                            backgroundColor = 'rgba(125, 218, 88, 0.70)';
                            textColor = 'black';
                            break;
                        case 'Pendente':
                            backgroundColor = 'rgba(255, 222, 89, 0.70)';
                            textColor = 'black';
                            break;
                        case 'Recusado':
                            backgroundColor = 'rgba(228, 8, 10, 0.70)';
                            textColor = 'black';
                            break;
                        default:
                            backgroundColor = 'grey';
                            textColor = 'black';
                    }

                    info.el.style.backgroundColor = backgroundColor;

                    /*let elements = info.el.querySelectorAll('.fc-event-content, .fc-event-title, .fc-event-category');
                    elements.forEach(element => {
                        element.style.color = textColor;
                    });*/
                    /*
                    let backgroundColor = info.event.extendedProps.color;

                    let rgbaColor = hexToRgba(backgroundColor, 0.5);

                    info.el.style.backgroundColor = rgbaColor;
                    */
                },
                eventClick: function (info) {
                    const event = info.event;
                    const marcacaoUser = event.title;
                    const currentUser = '@user';
                    const estado = event.extendedProps.estado;
                    const role = '@userRole';

                    $('#loader').show();

                    if (estado === "Aprovado") {
                        if (role === "AdminCA" && marcacaoUser === currentUser) {
                            $.ajax({
                                url: `/Marcacoes/${event.extendedProps.marcacaoId}/Edit`,
                                type: 'GET',
                                success: function (response) {
                                    $('#loader').hide();
                                    $('#editModal .modal-body').html(response);
                                    $('#editModal').modal('show');
                                },
                                error: function (error) {
                                    $('#loader').hide();
                                }
                            });
                        } else {
                            $.ajax({
                                url: `/Marcacoes/${event.extendedProps.marcacaoId}/Details`,
                                type: 'GET',
                                success: function (response) {
                                    $('#loader').hide();
                                    $('#detalhesMarcacaoModal .modal-body').html(response);

                                    $('#detalhesMarcacaoModal').modal('show');
                                },
                                error: function (error) {
                                    $('#loader').hide();
                                }
                            });
                        }
                    }
                    else {
                        if (marcacaoUser === currentUser) {
                            $.ajax({
                                url: `/Marcacoes/${event.extendedProps.marcacaoId}/Edit`,
                                type: 'GET',
                                success: function (response) {
                                    $('#loader').hide();
                                    $('#editModal .modal-body').html(response);
                                    $('#editModal').modal('show');
                                },
                                error: function (error) {
                                    $('#loader').hide();
                                }
                            });
                        } else {
                            $.ajax({
                                url: `/Marcacoes/${event.extendedProps.marcacaoId}/Details`,
                                type: 'GET',
                                success: function (response) {
                                    $('#loader').hide();
                                    $('#detalhesMarcacaoModal .modal-body').html(response);

                                    $('#detalhesMarcacaoModal').modal('show');
                                },
                                error: function (error) {
                                    $('#loader').hide();
                                }
                            });
                        }
                    }
                },
                eventMouseEnter: function (info) {
                    let tooltip = document.getElementById('tooltip');
                    let categoria = info.event.extendedProps.categoria;
                    let sala = info.event.extendedProps.sala;
                    let local = info.event.extendedProps.local;
                    let estado = info.event.extendedProps.estado;

                    tooltip.innerHTML = `<strong>Utilizador:</strong> ${info.event.title}<br>
                                                                                     <strong>Categoria:</strong> ${categoria}<br>
                                                                                     <strong>Sala:</strong> ${sala}<br>
                                                                                     <strong>Estado:</strong> ${estado}`;

                    tooltip.style.display = 'block';
                    tooltip.style.left = (info.jsEvent.pageX + 10) + 'px';
                    tooltip.style.top = (info.jsEvent.pageY + 10) + 'px';
                },
                eventMouseLeave: function (info) {
                    let tooltip = document.getElementById('tooltip');
                    tooltip.style.display = 'none';
                }
            });
            calendar.render();

            var label = document.createElement('div');
            label.innerHTML = 'Vista do Calendário';
            label.style.textAlign = 'center';
            label.style.fontWeight = 'bold';

            var toolbar = document.querySelector('.fc-toolbar-chunk:first-child');
            toolbar.insertBefore(label, toolbar.firstChild);

            document.getElementById('salaFilter').addEventListener('change', function () {
                calendar.refetchEvents();
            });

            document.getElementById('estadoFilter').addEventListener('change', function () {
                calendar.refetchEvents();
            });

            document.getElementById('localFilter').addEventListener('change', function () {
                updateSalasDropdown();
                calendar.refetchEvents();
            });

            function updateSalasDropdown() {
                var localId = document.getElementById('localFilter');
                var salaId = document.getElementById('salaFilter');

                $.ajax({
                    url: '/Salas/GetSalasByLocal',
                    type: 'GET',
                    data: {
                        localId: localId.value
                    },
                    success: function (data) {
                        var salaSelect = $('#salaFilter');
                        salaSelect.empty();
                        salaSelect.append('<option value="">Todas</option>');

                        $.each(data, function (index, item) {
                            salaSelect.append('<option value="' + item.salaId + '">' + item.descricao + '</option>');
                        });
                    }
                });

                if (localId.value == "") {
                    salaFilter.value = "";
                }
            }

            updateSalasDropdown();

            document.getElementById('createMarcacaoButton').addEventListener('click', function () {
                var now = new Date();
                var options = { timeZone: 'Europe/Lisbon', hour12: false };

                var currentTimeInLisbon = now.toLocaleTimeString('pt', options);

                var day = now.toLocaleString().substring(0, 10);
                var start = currentTimeInLisbon.substring(0, 5);
                var end = new Date(now.getTime() + 60 * 60 * 1000).toLocaleTimeString('pt', options).substring(0, 5);

                loadCreateForm(day, start, end);
            });

            function loadCreateForm(day, start, end) {
                $('#loader').show();
                $.ajax({
                    url: '/Marcacoes/LoadCreateForm',
                    type: 'GET',
                    data: {
                        day: day,
                        start: start,
                        end: end,
                        localId: localFilter.value
                    },
                    success: function (data) {
                        $('#loader').hide();
                        $('#createMarcacaoModal .modal-body').html(data);
                    },
                    error: function () {
                        $('#loader').hide();
                        alert('Failed to load the form. Please try again.');
                    }
                });
            }
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
